<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - checklist_app</title>
    <script>
      var require = {
        baseUrl: './',
        paths: {
          'preact': 'lib/preact/dist/preact.umd',
          'preact/hooks': 'lib/preact/hooks/dist/hooks.umd',
          'preact/jsx-runtime': 'lib/preact/jsx-runtime/dist/jsxRuntime.umd'
        }
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/requirejs@2.3.6/require.min.js"></script>
</head>
<body>
    @RenderBody()
    <script>
      require(['js/main'], function () {});
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
